pillow==10.2.0
fastapi
uvicorn[standard]
gunicorn
pillow
torch
torchvision
transformers
onnxruntime
onnx
onnxscript
requests
safetensors
python-multipart
pydantic
concurrent-log-handler
tqdm
cloudinary
python-dotenv
supabase>=2.0.0
psutil